@import "config";
@import "utilites";

//General styles

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: $dark_color;
}

ul {
  list-style: none;
}
h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}
.py-2t {
  padding: 2rem 0;
}
.py-1t {
  padding: 1rem 0;
}
.my-2t {
  margin: 2rem 0;
}
// header
#header {
  &-home {
    background: $bg-image center right/cover no-repeat;
    height: 100vh;
    .header-content {
      padding-top: 20%;
      color: #fff;
      text-align: center;
      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }
  &-others {
    background: $bg-image 10% 30% / cover no-repeat;
    height: 15vh;
    border-bottom: 3px solid $primary_color;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 1.5rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 1.5rem;
}
.grid_without_gap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.icon-with-container {
  padding: 0.5rem;
  div {
    .fas {
      padding-bottom: 0.8rem;
      color: $primary_color;
      font-size: 2rem;
      text-align: center;
      display: block;
      width: 100%;
    }
    h3 {
      text-align: center;
      padding-bottom: 0.8rem;
    }
    p {
      font-size: 1.1rem;
      text-align: center;
    }
  }
}
.progress {
  width: 100%;
  height: 20px;
  background: $medium_color;
  border-radius: 5px;
  margin: 2px 0 1rem 0;
  div {
    height: 100%;
    background: $primary_color;
    border-radius: 5px;
  }
}
.process {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .fas {
    position: relative;
    background: $dark_color;

    width: 100px;
    height: 100px;

    line-height: 100px;
    text-align: center;
    padding: 2rem;
    font-size: 3.5em;
    border-radius: 50%;
    color: $light_color;
    transition: background 1s;
  }
  &-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    line-height: 20px;
    background: $primary_color;
    color: $light_color;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 50%;
    transition: background 0.8s;
  }
  .fas:hover {
    background: $primary_color;
  }
  .fas:hover &-icon {
    background: $dark_color;
  }
  p,
  h3 {
    text-align: center;
  }
}
.status {
  background: $medium_color;
  padding: 2.5rem 0;
  &:nth-child(odd) {
    background: $light_color;
  }
  i {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
  }
  .number {
    padding-top: 1.5rem;
    font-weight: 600;
  }
}
.experience {
  background: $light_color;

  padding: 4rem 0;
  .exp-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    img {
      width: 75%;
    }
  }
}

.testimonial {
  div {
    display: flex;

    flex-direction: column;
    .review {
      padding: 0.3rem;
      border: 1px solid $medium_color;
      border-radius: 5px;
      margin-bottom: 0.5rem;
    }
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 20%;
        border-radius: 50%;
        margin: 0.5rem;
      }
    }
  }
}
.headlines {
  h2 {
    text-align: center;
    height: 3rem;
  }
  .bottom-line {
    margin: 0 auto 1rem auto;
    height: 2px;
    width: 4rem;
    background-color: $primary_color;
  }
  .lead {
    padding-bottom: 1rem;
  }
}

.profile-container {
  display: grid;
  grid-template-areas: "about-pic about about about about";
  grid-gap: 2rem;
  padding-bottom: 2.5rem;

  .about-pic {
    border-radius: 50%;
    grid-area: about-pic;
  }
  .about {
    grid-area: about;
    background: $light_color;
    padding: 1rem;
    border-left: 3px solid $primary_color;
  }
}
.form-container {
  padding: 1rem 0 3rem 0;
  display: grid;
  grid-template-areas:
    "name email"
    "subject contact"
    "message message";
  grid-gap: 1rem;
  input,
  textarea {
    padding: 0.5rem 0.8rem;
  }
  textarea {
    resize: none;
  }
  #name {
    grid-area: name;
  }
  #email {
    grid-area: email;
  }
  #message {
    grid-area: message;
  }
  #subject {
    grid-area: subject;
  }
  #contact {
    grid-area: contact;
  }
  input:focus {
    outline: none;
    border: 2px solid $primary_color;
  }
  textarea:focus {
    outline: none;
    border: 2px solid $primary_color;
  }
}

.contact-info {
  .fas {
    padding-bottom: 0.2rem;

    text-align: center;
    display: block;
    width: 100%;
  }
  .title {
    padding-bottom: 0.2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
  }
  .info {
    text-align: center;
    font-size: 1.1rem;
  }
}
.contact-text {
  background: $primary_color;
  color: white;
  padding: 4rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
// logo
#logo {
  width: 70px;
  height: 70px;
  color: #fff;
}

// nav-main
#nav-main {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;

  ul {
    display: flex;
    li {
      display: inline;
      padding: 1rem 1.5rem;
      a {
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5s;

        &:hover {
          border-color: $medium_color;
        }
        &.current {
          border-color: $primary_color;
        }
      }
    }
  }
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.item {
  position: relative;
  background: $primary_color;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    display: block;
    background: inherit;
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
    transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  }
  &:hover::after {
    transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
  }

  &:hover &-image {
    transform: scale(1.2);
  }
  &:hover &-text {
    opacity: 1;
    transform: translateY(0);
  }

  &-image {
    height: auto;
    transform: translateZ(0);
    display: block;
    transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  }

  &-image:before {
    content: "";
    display: block;
    padding-top: 75%;
    overflow: hidden;
  }

  &-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    line-height: 0;
  }
  &-text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    z-index: 1;
    color: #fff;
    transform: translateY(-20%);
    transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
      transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
    transition-delay: 400ms;
  }
  &-text-wrap {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    h2 {
      font-size: 2rem;
      padding: 0 1rem;
      margin: 5px 0 0 0;
    }

    p {
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2rem;
      opacity: 0.7;
      margin: 0;
      font-weight: 600;
    }
  }
}

footer {
  background: $dark_color;
  color: $light_color;
  padding: 1.5rem 0;
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  i {
    font-size: 1.2rem;
    border-radius: 50%;
    color: $light_color;
    border: 2px $light_color solid;
    padding: 0.8rem;
    margin-right: 0.8rem;
  }
  a:hover i {
    background: $primary_color;
  }
}

@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 1.5rem;
  }
}
